.App {
  text-align: left;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

.App-header {
  background-color: #fff;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-title {
  font-family: "abel";
  font-size: 2.8em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* modal */

.modal-header {
  background-color: #2e756f;
  color: #fff;
  margin-bottom: 30px;
}

.modal-body > p {
  padding: 8px;
}

.material-icons {
  padding-right: 6px;
  color: #717171;
}

.contact__details {
  padding-left: 2.2em;
}

.contact-online,
.contact-online > i {
  text-align: center;
  color: #8cfd8c;
}
.contact-offline,
.contact-offline > i {
  text-align: center;
  color: red;
}

.modal-header__profile-image {
  border-radius: 100%;
}

/* fix for the navigation logo */
img.d-inline-block.align-top {
  padding-right: 10px;
}

.clickable {
  cursor: pointer;
}

.interactive-header :hover {
  color: teal;
}

header.App-header {
  height: inherit;
}

.profile-picture {
  max-height: 50px;
  max-width: 50px;
}
